SLACK_CLIENT_ID=YOUR_SLACK_CLIENT_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_CLIENT_SECRET
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN

# Notion MCP Server URLs
MCP_SERVER_URL=https://mcp.notion.com/mcp
MCP_SERVER_URL_SSE=https://mcp.notion.com/sse

ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY

NOTION_API_KEY=YOUR_NOTION_API_KEY

# Notion MCP Callback Server Config
CALLBACK_PORT=9876
REDIRECT_URI=http://localhost:9876/callback

# LocalStack SQS Config
SQS_ENDPOINT=http://localhost:4566
SQS_QUEUE_URL=http://localhost:4566/000000000000/incident-queue.fifo
SQS_DLQ_URL=http://localhost:4566/000000000000/incident-dlq.fifo
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test