SLACK_CLIENT_ID=YOUR_SLACK_CLIENT_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_CLIENT_SECRET
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN

# Notion MCP Server URLs
MCP_SERVER_URL=https://mcp.notion.com/mcp
MCP_SERVER_URL_SSE=https://mcp.notion.com/sse

ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY

NOTION_API_KEY=YOUR_NOTION_API_KEY

# Notion MCP Callback Server Config
CALLBACK_PORT = 9876;
REDIRECT_URI = `http://localhost:${CALLBACK_PORT}/callback`;